
@model IEnumerable<RESTful_service.Models.Movie>


<h2>All Reservations</h2>



<p>
    @Html.ActionLink("AddMovie", "AddMovie", null, new { @class = "btn btn-sm btn-primary" })
</p>

<p>
    @Html.ActionLink("GetMovie", "GetMovie", null, new { @class = "btn btn-sm btn-primary" })
</p>

<table class="table table-sm table-striped table-bordered m-2">



    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Title</th>
        <th>Description</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>


    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m.MovieId</td>
                <td>@m.Name</td>
                <td>@m.Title</td>
                <td>@m.Description</td>



                <td>
                    
                    @Html.ActionLink("Edit", "Edit", new { id = m.MovieId }, new { @class = "btn btn-success" })
                    
                   
                    
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = m.MovieId }, new { onclick = $"return confirm('{m.Name} will be deleted. Are you sure ?');", @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>